<!DOCTYPE hmtl>
<html>
<head></head>
  <body>
    <form action="/bookmarks" method="post">
      <label for="url">
        New bookmark URL
        <input type="text" name="url">
      </label>
      <br><br>
      <label for="title">
        New bookmark title
        <input type="text" name="title">
      </label>
      <br><br>
      <input type="submit" value="Add bookmark">
    </form>
  </body>
</html>
